#bottom-toolbar {
    position: absolute;
    left: 50%;
    bottom: 24px;
    height: 54px;
    transform: translate(-50%, 0);
    padding: 0px 8px;
    border-radius: 8px;

    background-color: $bcg-dark;

    display: flex;
    flex-direction: row;
    align-items: center;

    pointer-events: all;
}

.bottom-toolbar-button, .bottom-toolbar-tool, .bottom-toolbar-toggle {
    width: 38px;
    height: 38px;
    margin: 0px 1px;
    padding: 0px;
    border: 0px;
    border-radius: 2px;

    &::before {
        font-size: 16px !important;
        line-height: 100%;
    }

    svg {
        path {
            fill: $clr-default;
        }
    }
}

.bottom-toolbar-separator {
    width: 1px;
    height: 38px;
    margin: 0px 8px;
    background-color: $bgclr-light;
}

.bottom-toolbar-button {
    svg {
        path {
            fill: $clr-default;
        }
    }
}

.bottom-toolbar-tool {
    background-color: $bgclr-light;

    svg {
        path {
            fill: $clr-default;
        }
    }

    &.active {
        color: $clr-active;
        background-color: $clr-hilight !important;

        svg {
            path {
                fill: $clr-active;
                stroke: $clr-active;
            }
        }
    }

    &.disabled {
        svg {
            path {
                fill: $clr-disabled;
            }
        }
        background-color: $bcg-dark;
    }
}

.bottom-toolbar-toggle.active {
    &::before {
        color: $clr-hilight;
    }

    svg {
        path {
            fill: $clr-hilight;
            stroke: $clr-hilight;
        }
    }
}
