#bottom-toolbar {
    position: absolute;
    left: 50%;
    bottom: 24px;
    height: 54px;
    transform: translate(-50%, 0);
    padding: 0px 8px;
    border-radius: 8px;

    background-color: $bcg-dark;

    display: flex;
    flex-direction: row;
    align-items: center;

    pointer-events: all;
}

.bottom-toolbar-button, .bottom-toolbar-tool {
    width: 38px;
    height: 38px;
    margin: 0px 1px;
    padding: 0px;
    border: 0px;
    border-radius: 2px;
}

.bottom-toolbar-separator {
    width: 1px;
    height: 38px;
    background-color: $bgclr-light;
    margin: 0px 8px;
}

.bottom-toolbar-button {
    svg {
        path {
            fill: $clr-default;
        }
    }
}

.bottom-toolbar-tool {
    svg {
        path {
            fill: $clr-default;
        }
    }
    background-color: $bgclr-light;
}

.bottom-toolbar-tool.active {
    svg {
        path {
            fill: $clr-active;
            stroke: $clr-active;
        }
    }
}

.bottom-toolbar-tool.disabled {
    svg {
        path {
            fill: $clr-disabled;
        }
    }
    background-color: $bcg-dark;
}
