$icon-disabled: #7c7678;
$icon-inactive: #b3aaac;
$icon-active: white;
$icon-bg-light: #333;
$icon-bg-active: #f60;

#bottom-toolbar {
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: 50px;
    height: 54px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: $bcg-dark;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;

    pointer-events: all;
}

.bottom-toolbar-button, .bottom-toolbar-tool {
    width: 38px;
    height: 38px;
    border-radius: 2px;
    margin: 0px 1px;
    padding: 0px;
    border: 0px;
}

.bottom-toolbar-separator {
    width: 1px;
    height: 38px;
    background-color: $icon-bg-light;
    margin: 0px 8px;
}

.bottom-toolbar-button {
    svg {
        path {
            fill: $icon-inactive;
        }
    }
}

.bottom-toolbar-tool {
    svg {
        path {
            fill: $icon-inactive;
        }
    }
    background-color: $icon-bg-light;
}

.bottom-toolbar-tool.active {
    svg {
        path {
            fill: $icon-active;
            stroke: $icon-active;
        }
    }
}

.bottom-toolbar-tool.disabled {
    svg {
        path {
            fill: $icon-disabled;
        }
    }
    background-color: $bcg-dark;
}