#right-toolbar {
    position: absolute;
    right: 70px;
    top: 50%;
    width: 54px;
    transform: translate(50%, -50%);
    padding: 8px 0px;
    border-radius: 8px;

    background-color: $bcg-dark;
 
    display: flex;
    flex-direction: column;
    align-items: center;

    pointer-events: all;

    &>.right-toolbar-button, .right-toolbar-tool, .right-toolbar-toggle {
        width: 38px;
        height: 38px;
        margin: 0px 1px;
        padding: 0px;
        border: 0px;
        border-radius: 2px;

        &::before {
            font-size: 16px !important;
            line-height: 100%;
        }

        svg {
            path {
                fill: $clr-default;
            }
        }
    }

    &>.right-toolbar-separator {
        width: 38px;
        height: 1px;
        margin: 8px 0px;
        background-color: $bgclr-light;
    }

    &>.right-toolbar-button {
        svg {
            path {
                fill: $clr-default;
            }
        }
    }

    &>.right-toolbar-tool {
        background-color: $bgclr-light;

        svg {
            path {
                fill: $clr-default;
            }
        }

        &.active {
            background-color: $clr-hilight !important;

            svg {
                path {
                    fill: $clr-active;
                    stroke: $clr-active;
                }
            }
        }

        &.disabled {
            svg {
                path {
                    fill: $clr-disabled;
                }
            }
            background-color: $bcg-dark;
        }
    }

    &>.right-toolbar-toggle.active {
        // highlight icon
        &::before {
            color: $clr-hilight;
        }

        // highlight svg
        svg {
            path {
                fill: $clr-hilight;
                stroke: $clr-hilight;
            }
        }
    }
}