
#right-toolbar {
    position: absolute;
    right: 70px;
    top: 50%;
    width: 54px;
    transform: translate(50%, -50%);
    padding: 8px 0px;
    border-radius: 8px;

    background-color: $bcg-dark;
 
    display: flex;
    flex-direction: column;
    align-items: center;

    pointer-events: all;
}

.right-toolbar-button {
    width: 38px;
    height: 38px;
    margin: 0px 1px;
    padding: 0px;
    border: 0px;
    border-radius: 2px;

    &::before {
        font-size: 18px !important;
        line-height: 100%;
    }

    svg {
        path {
            fill: $clr-default;
        }
    }
    background-color: $bgclr-light;
}

.right-toolbar-button.active {
    svg {
        path {
            fill: $clr-active;
            stroke: $clr-active;
        }
    }
}

.right-toolbar-button.disabled {
    svg {
        path {
            fill: $clr-disabled;
        }
    }
    background-color: $bcg-dark;
}
