@use 'colors.scss' as *;

#bottom-toolbar {
    position: absolute;
    left: 50%;
    bottom: 24px;
    height: 54px;
    transform: translate(-50%, 0);
    padding: 0px 8px;
    border-radius: 8px;

    background-color: $bcg-dark;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-toolbar-button, .bottom-toolbar-tool, .bottom-toolbar-toggle {
    width: 38px;
    height: 38px;
    margin: 0px 1px;
    padding: 0px;
    border: 0px;
    border-radius: 2px;

    &::before {
        font-size: 16px !important;
        line-height: 100%;
    }

    svg {
        color: $clr-default;
    }
}

.bottom-toolbar-separator {
    width: 2px;
    height: 38px;
    margin: 0px 10px;
    background-color: $bcg-primary;
}

.bottom-toolbar-selection-mode-button {
    position: relative;
    width: 38px;
    height: 38px;
    margin-left: 1px;
    margin-right: 7px;
    padding: 8px;
    border: 0;
    border-radius: 2px;
    background-color: $bcg-primary;

    svg {
        width: 20px;
        height: 20px;
        color: $clr-default;
    }

    &::after {
        content: '';
        position: absolute;
        right: 3px;
        top: 3px;
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 4px solid $clr-default;
    }
}

#bottom-toolbar-selection-mode-menu {
    z-index: 1;

    .menu-row {
        min-width: 130px;
    }
}

.bottom-toolbar-button {
    svg {
        color: $clr-default;
    }
}

.bottom-toolbar-tool {
    background-color: $bcg-primary;

    svg {
        color: $clr-default
    }

    &.active {
        color: $clr-active;
        background-color: $clr-hilight !important;

        svg {
            color: $clr-active;
        }
    }

    &.disabled {
        background-color: $bcg-dark;

        svg {
            color: $clr-disabled;
        }
    }
}

.bottom-toolbar-toggle.active {
    &::before {
        color: $clr-hilight;
    }

    svg {
        color: $clr-hilight;
    }
}
