@use 'colors.scss' as *;

#bottom-toolbar {
    position: absolute;
    left: 50%;
    bottom: 24px;
    height: 54px;
    transform: translate(-50%, 0);
    padding: 0px 8px;
    border-radius: 8px;

    background-color: $bcg-dark;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-toolbar-button, .bottom-toolbar-tool, .bottom-toolbar-toggle {
    width: 38px;
    height: 38px;
    margin: 0px 1px;
    padding: 0px;
    border: 0px;
    border-radius: 2px;

    &::before {
        font-size: 16px !important;
        line-height: 100%;
    }

    svg {
        color: $clr-default;
    }
}

.bottom-toolbar-separator {
    width: 2px;
    height: 38px;
    margin: 0px 10px;
    background-color: $bcg-primary;
}

.bottom-toolbar-selection-mode {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-right: 7px;
    padding: 3px;
    border-radius: 3px;
    background-color: $bcg-primary;
}

.bottom-toolbar-selection-mode-button {
    width: 74px;
    height: 32px;
    margin: 0;
    padding: 0 6px;
    border: 0;
    border-radius: 2px;
    background-color: transparent;
    font-size: 11px;

    &.active {
        color: $clr-active;
        background-color: $clr-hilight;
    }
}

.bottom-toolbar-button {
    svg {
        color: $clr-default;
    }
}

.bottom-toolbar-tool {
    background-color: $bcg-primary;

    svg {
        color: $clr-default
    }

    &.active {
        color: $clr-active;
        background-color: $clr-hilight !important;

        svg {
            color: $clr-active;
        }
    }

    &.disabled {
        background-color: $bcg-dark;

        svg {
            color: $clr-disabled;
        }
    }
}

.bottom-toolbar-toggle.active {
    &::before {
        color: $clr-hilight;
    }

    svg {
        color: $clr-hilight;
    }
}
