@use 'pcui-theme-grey.scss' as theme;

$text-primary: theme.$text-primary;
$text-secondary: theme.$text-secondary;
$text-dark: theme.$text-dark;
$text-darkest: theme.$text-darkest;
$bcg-primary: theme.$bcg-primary;
$bcg-dark: theme.$bcg-dark;
$bcg-darker: theme.$bcg-darker;
$error: theme.$error;

$clr-default: #b3aaac;
$clr-disabled: #7c7678;
$clr-active: white;
$clr-hilight: #f60;

$bcg-lighter: #444;
$bcg-light: #555;
$bcg-darkest: #181818;
