@use 'pcui-theme-grey.scss' as theme;

// Light theme text colors
$text-primary: #000000;
$text-secondary: #555555;
$text-light: #FCFCFF;
$text-dark: rgba(0, 0, 0, 0.5);
$text-darkest: rgba(0, 0, 0, 0.3);

$error: theme.$error;

// Light theme element colors
$clr-default: #1a1a1a;
$clr-disabled: #999999;
$clr-active: white;
$clr-hilight: #000000;
$clr-hover-border: #5BA7E8;
$clr-icon-hilight: #333333;

// Light theme backgrounds
$bcg-lighter: #e8e8e8;
$bcg-light: #d0d0d0;
$bcg-primary: #FCFCFF;
$bcg-secondary: #F1F2F5;
$bcg-dark: #fff;
$bcg-darker: #f0f0f0;
$bcg-darkest: #e0e0e0;

// darken amount when showing modal dialogs
$bcg-darken: rgba(0, 0, 0, 0.25);

$bg-light-primary: #FCFCFF;
$bg-light-secondary: #F1F2F5;
$bg-light-tertiary: #E2E2E2;
$bg-light-hover: #E7E7E7;
$bg-light-active: #000000;