@use 'colors.scss' as *;

#scene-panel {
    top: 102px;
    left: 24px;
    width: 320px;
}

.collapsed #scene-panel {
    display: none;
}

.panel-header-button.active,
.panel-header-button.active:hover {
    background-color: $clr-hilight;

    svg {
        color: $clr-active;
    }
}

.splat-list-container {
    max-height: 300px;
    overflow: auto;
}