@use 'colors.scss' as *;

#status-bar {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $bcg-dark;
    flex-shrink: 0;
    border-top: 1px solid $bcg-primary;
    padding: 0 4px;
    position: relative;
}

// toggle buttons for panels
.status-bar-toggle {
    cursor: pointer;
    font-size: 11px;
    font-weight: bold !important;
    color: $text-secondary;
    height: 100%;
    line-height: 32px;
    padding: 0 8px;
    white-space: nowrap;
    border: none;
    background-color: $bcg-primary;

    &:hover {
        color: $text-primary;
        background-color: $bcg-darkest;
    }

    &.active {
        color: $clr-active;
        background-color: $clr-hilight !important;
    }
}

.status-bar-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    height: 100%;
    padding-right: 8px;
}

.status-bar-stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px;
}

.status-bar-stat-label {
    color: $text-secondary;
    font-size: 11px;
    margin-right: 4px;
}

.status-bar-stat-value {
    color: $text-primary;
    font-size: 11px;
}
