@import '../node_modules/@playcanvas/pcui/dist/pcui-theme-grey.scss';

* {
    font-size: 12px;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    background-color: $bcg-primary;
    overflow: hidden;
}

#app-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#left-container {
    width: 340px;
    height: 100%;
    border-right: 1px solid #20292b;
    display: flex;
    flex-direction: column;
}

#title-container {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
}

#control-container {
    flex-grow: 1;
    overflow-y: auto;
}

#file-selector-container {
    flex-shrink: 0;
    flex-grow: 0;
    margin: 5px;
}

#title-logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#title-text {
    padding: 0px 0px 0px 10px;
    line-height: 40px;
    color: white;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.control-panel > .pcui-panel-content {
    display: flex;
    flex-direction: column;
}

.control-parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.control-label {
    width: 100px;
    flex-shrink: 0;
    flex-grow: 0;
    line-height: 24px;
}

.control-element {
    flex-shrink: 0;
    flex-grow: 0;
}

.control-element-expand {
    flex-grow: 1;
}

.control-element.pcui-boolean-input {
    margin-top: 10px;
}

.active {
    color: white;
    background-color: #f60 !important;
}

#select-root {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

#select-svg {
    display: none;
    width: 100%;
    height: 100%;
}

#select-canvas {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#canvas-container {
    width: 100%;
    background-color: #666666;
    display: flex;
    border: 0;
    padding: 0;
    margin: 0;
}

#canvas {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

#keyboard-heading {
    margin: 40px 0px 0px 0px;
}

// placeholder
.pcui-input-element[placeholder] {
    &::after {
        color: $text-darkest;
    }
}

/* scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #20292b;
}
::-webkit-scrollbar-thumb {
    background: #5b7073;
}
::-webkit-scrollbar-thumb:hover {
    background: #f60;
}
::-webkit-scrollbar-corner {
    background: #2c393c;
}

.font-thin {
    font-family: 'Proxima Nova Thin', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
}

.font-light {
    font-family: 'Proxima Nova Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.font-regular {
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-bold {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
}
