@import '../node_modules/@playcanvas/pcui/dist/pcui-theme-grey.scss';

* {
    font-size: 12px;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    background-color: $bcg-primary;
    overflow: hidden;
    touch-action: none;
}

#app-container {
    width: 100%;
    height: 100%;
}

#editor-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#toolbar-container {
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid $bcg-darker;
}

#main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

#data-panel {
    width: 100%;
    height: 320px;
}

#sep-container {
    background-color: $bcg-darker;
}

#sep-container > span {
    color: white;
}

#data-controls-container {
    width: 256px;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: auto;
}

#data-controls {
    width: 100%;
}

#histogram-container {
    flex-grow: 1;
    flex-shrink: 1;
}

#histogram-canvas {
    image-rendering: pixelated;
}

#histogram-svg {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#histogram-rect {
    // fill: rgba()
}

#data-panel-popup-container {
    position: absolute;
    left: 50px;
    top: 50px;
}

#data-panel-popup-label {
    background-color: $bcg-dark;
    color: $text-primary;
}

#coord-space-toggle.active {
    background-color: $bcg-dark !important;
    color: #f60;
}

#control-panel {
    width: 340px;
    height: 100%;
    border-right: 1px solid #20292b;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

#control-panel-controls {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;

    overflow-y: auto;
}

.pcui-panel-header-title::before {
    font-family: pc-icon;
    margin-right: 10px;
    color: $text-secondary;

    #camera-panel & { content: '\E212'; };
    #show-panel & { content: '\E117'; };
    #selection-panel & { content: '\E398'; };
    #modify-panel & { content: '\E130'; };
    #scene-panel & { content: '\E142'; };
    #options-panel & { content: '\E134'; };
    #export-panel & { content: '\E226'; };
    #keyboard-panel & { content: '\E136'};
}

#scene-panel {
    flex-shrink: 0;
}

#scene-panel-splat-list-container {
    // padding: 10px;
    overflow: scroll;

    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    background-color: $bcg-primary;
}

#scene-panel-splat-list {
    width: 100%;
    height: 100%;
    padding: 4px;
}

#scene-panel-splat-list .pcui-treeview-item-contents.pcui-treeview-item-selected {
    background-color: royalblue;
}

.scene-panel-splat-item {
    display: flex;
    flex-direction: row;

    border-bottom: 1px solid $bcg-darker;

    &:hover:not(.selected) {
        background-color: $bcg-darkest;
    }

    &.selected {
        color: $text-primary;
        background-color: royalblue;
    }
}

.scene-panel-splat-item-text {
    flex-grow: 1;
    flex-shrink: 1;

    .selected & {
        color: $text-primary;
    }
}

.scene-panel-splat-item-visible {
    flex-grow: 0;
    flex-shrink: 0;

    // border: 1px solid black;
    padding: 4px;
    width: 16px;
    height: 16px;
    line-height: 16px;

    color: black;
    background-color: transparent;

    cursor: pointer;

    &.checked {
        color: $text-active;
    }

    &::after {
        font-family: pc-icon;
        font-size: 18px;
        content: '\E117';
    }
}

.scene-panel-splat-item-delete {
    flex-grow: 0;
    flex-shrink: 0;

    // border: 1px solid black;
    padding: 4px;
    width: 16px;
    height: 16px;
    line-height: 16px;

    color: $text-secondary;

    cursor: pointer;

    &::after {
        font-family: pc-icon;
        font-size: 16px;
        content: '\E124';
    }
}

#file-selector {
    display: none;
}

#file-menu {
    position: absolute;
}

.file-menu-item span {
    padding: 6px;
    color: $text-secondary !important;
    font-size: 14px;
}

.toolbar-button {
    width: 40px;
    height: 40px;
    margin: 0;
    cursor: pointer;
}

.toolbar-button::before {
    font-size: 18px !important;
    line-height: 100%;
}

.tooltip {
    position: absolute;
    padding: 6px;
    background-color: $bcg-darkest;
}

.tooltip-content {
    color: $text-primary;
}

#toolbar-tools-container, #toolbar-help-container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

#shortcuts-panel {
    background-color: $bcg-dark;
}

#shortcuts-container {
    margin: 10px;
}

.shortcut-key {
    width: 80px;
    text-align: right;
}

.shortcut-header {
    background-color: $bcg-darker;
}

#filename-label {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: $text-primary;
    text-shadow: 0 0 4px black;
}

#control-panel > .pcui-panel-header {
    background-color: $bcg-dark;
}

#control-panel > .pcui-panel-content {
    display: flex;
    flex-direction: column;
}

#camera-panel > .pcui-panel-content {
    display: flex;
    flex-direction: column;
}

#modify-panel > .pcui-panel-content {
    display: flex;
    flex-direction: column;
}

.control-panel {
    flex-shrink: 0;
}

.control-parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.control-label {
    width: 100px;
    flex-shrink: 0;
    flex-grow: 0;
    line-height: 24px;
    margin: 2px 6px 2px 6px;
}

.control-element {
    flex-shrink: 0;
    flex-grow: 0;
}

.control-element-expand {
    flex-grow: 1;
}

.control-element.pcui-boolean-input {
    margin-top: 10px;
}

.active {
    color: white;
    background-color: #f60 !important;
}

.select-svg {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

#view-cube-container {
    position: absolute;
    width: 140px;
    height: 140px;
    right: 0px;
    top: 0px;
}

#brush-select-canvas {
    display: none;
    position: absolute;
    opacity: 0.4;
}

#canvas-container {
    width: 100%;
    background-color: #666666;
    display: flex;
    border: 0;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

#tools-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

#tooltips-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#top-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

// placeholder
.pcui-input-element[placeholder] {
    &::after {
        color: $text-darkest;
    }
}

.pcui-vector-input {
    margin-left: 6px;
    margin-right: 6px;
}

//-- Popup

#popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
}

#popup-background {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    background-color: $bcg-primary;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid $bcg-darker;
    pointer-events: all;
}

#popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.popup-button {
    background-color: $bcg-darker;
    color: white;
    height: 40px;
    width: 120px
}

#popup-text {
    font-size: 18px;
    color: $text-primary;
    text-wrap: wrap;
    text-align: center;
    margin: 20px 0px;
}

#popup-text-input {
    margin-bottom: 24px;
}

#popup-text.error::before {
    content: '\E218';
    font-family: 'pc-icon';
    margin: 0px 10px;
    color: $error;
}

#popup-text.info::before {
    content: '\E400';
    font-family: 'pc-icon';
    margin: 0px 10px;
    color: $text-primary;
}

/* scrollbar styling */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #20292b;
}
::-webkit-scrollbar-thumb {
    background: #5b7073;
}
::-webkit-scrollbar-thumb:hover {
    background: #f60;
}
::-webkit-scrollbar-corner {
    background: #2c393c;
}

.font-thin {
    font-family: 'Proxima Nova Thin', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
}

.font-light {
    font-family: 'Proxima Nova Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.font-regular {
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-bold {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
}
